$primary:#04272e; 
$accent:#48456e;  
$light:white;
$dark :#04272e;
$verylightgrey:rgb(250, 250, 250);
/* $lightGrey:rgb(189, 189, 189); */
$lightgrey: #e7e7e7;
$darkgrey: #a7a7a7; 
$greenish:rgb(0, 220, 160); 
$goldish:rgb(220,160,0);
$pinkish:rgb(220, 0, 160);
$orangered:orangered;
$redish:rgb(213, 9, 9);
$bluish:rgb(0,160,220); 
$greenaccent:rgb(130, 253, 206); 
